<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/assets/webapp/images/logo.jpg" alt="webapp Logo" class="me-2"
                style="height:48px; width:auto; max-width:300px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/site">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" href="#" data-bs-toggle="dropdown">Services</a>
                    <ul class="dropdown-menu">
                        {% for service in services %}
                        <li><a class="dropdown-item" href="/{{ service.route }}#{{ service.name }}"
                                id="{{ service.service_name }}">{{
                                service.service_name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Courses</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Coming Soon</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about#about-company">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>